body{
    padding: 0;
    margin: 0;
}
#app{
    background-color: white;
}
.main{
    width: 730px;

}
.aside{
    width: 205px;
    padding: 10px;
}
.main-wrap{
    display: flex;
    justify-content: center;
}

/* ----------------------- nav ---------------------- */
.nav{
    width: 100%;
    height: 70px;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    font-size: 24px;
    width: 160px;
    color: white;
    display: flex;
    align-items: center;
}
.nav-item{
    font-size: 14px;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box
}

.el-menu-item.is-active {
    border-bottom: 3px solid #c20c0c!important;
    background-color: rgb(41, 41, 41)!important;
}
.search{
    color: white!important;
    width: 200px;
    margin-left: 30px;
}
.search input{
    border-radius: 20px;

}
.search input:focus{
    border-color: transparent;

}
.log{
    margin: 0 10px 0 10px;
}
.log>a{
    color: #787878;
    text-decoration: none;
}
.log>a:hover{
    color: #666;
    text-decoration: underline;
}

/* ----------------------- tab ---------------------- */
.tab{
    display: flex;
    justify-content: center;
    background-color: #c20c0c;
    color: white;
    border:none;

}
.tab-item{
    width: 96px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------- carousel ---------------------- */
.carousel-wrap{
    display: flex;
    justify-content: center;
}
.carousel{
    width: 1460px;


}
.carousel-img{
    width: 730px;
    height: 336px;
}
/* ----------------------- hot-playlist ---------------------- */
.hot-title>h2{
    border-bottom: 2px solid #c20c0c;
    padding: 10px 0;
    margin-right: 20px;
}
.hot-content{
    display: flex;
    flex-wrap: wrap;
}
.playlist-item{
    width: 160px;
    height: 227px;
    margin: 0 10px 20px 10px;
}
.item-time{
    font-size: 13px;
    color: #999;
}
.item-btn{
    padding: 0;
    float: right;
}
.playlist-item-img{
    width: 100%;
    display: block;
}
.btn-list{
    display: flex;
    justify-content: flex-end;
}
.item-title{
    padding:5px 0;
}
.btn-list{
    padding:5px 0 0 0 ;
}
/* ----------------------- hot-albumlist ---------------------- */
.albumlist-item-img{
    height: 100px;
    width: 100px;
}
.album-after-img{
    margin-left: -5px;
    height: 100px;
    width: 16px;
}
.albumlist-item{
    width: 140px;
    height: 200px;
    margin: 0 5px 10px 0 ;
}
.item-title{

}
.item-singer{

}
/* ----------------------- aside ---------------------- */
.hot-singer{
    padding: 0 10px;
    border-left: 1px solid #d3d3d3;
    margin: 0 0 60px 0;
}
/* ----------------------- singer ---------------------- */
.singer-item{
    display: flex;
    align-items: flex-start;
    height: 64px;
    margin:5px 10px 5px 0;


}
.singer-item:hover{
    border-right:4px solid #c20c0c;
}
.singer-img{
    display: inline-block;
}
.singer-info-wrap{
    display: inline-block;
    padding: 0 5px;
    height: 62px;

}

.singer-name{
    font-size: 14px

}
.singer-info{
    color: #666;
    font-size: 12px;
    padding: 5px 0 0 0;
}
/* ----------------------- singer ---------------------- */
.footer{
    color: #999;
    margin:80px 300px 30px 300px ;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top: 1px solid #d3d3d3;
}

.footer-link{
    margin: 20px 0 10px 0;

}
/* ----------------------- login ---------------------- */
.el-dialog__header{

}
.el-dialog__body{
    border-top:1px solid #c20c0c;
    padding: 30px 0 0 0;
    margin: 0 20px;
}
.login-button,.register-button{
    background-color: #bc070c;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
}
.login-button{
    width: 280px;
}
.register-button{
    width: 320px;
}
.to-register,.to-login{
    color: #c20c0c;
    text-decoration: none;

}
.to-register:hover,.to-login:hover{
    text-decoration: underline;
}
.dialog-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button:hover,.register-button:hover{
    background-color: #ec2a32;
    border: none;
}
.el-form-item__content input:focus{
    border-color: #c20c0c;
}
.forget-password,.verification-code{
    align-self:flex-end ;
    margin-bottom: 20px;
    font-size: 14px;
}
.forget-password>a,.verification-code>a{
    color: #c20c0c;
    text-decoration: none;
}
.forget-password:hover,.verification-code:hover{
    text-decoration: underline;
}