<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>带音乐平台</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <nav-bar></nav-bar>
        <div class="nav">
            <el-menu :default-active="menu_active_index" class="el-menu-demo" mode="horizontal" @select="" text-color="#ffffff"
                background-color="#333" active-text-color="#ffffff">
                <div class="nav-content">
                    <div class="nav-logo">
                        <div>带音乐平台</div>
                    </div>

                    <el-menu-item index="1" class="nav-item">发现音乐</el-menu-item>
                    <el-menu-item index="2" class="nav-item">我的音乐</el-menu-item>
                    <el-menu-item index="3" class="nav-item" disabled>朋友</el-menu-item>
                    <el-menu-item index="4" class="nav-item" disabled>商城</el-menu-item>
                    <el-menu-item index="5" class="nav-item" disabled>音乐人 </el-menu-item>
                    <el-menu-item index="6" class="nav-item" disabled>下载客户端</el-menu-item>
                    <el-input class="search"
                              placeholder="搜索"
                              prefix-icon="el-icon-search"
                              v-model="input2"size="medium">
                    </el-input>
                    <div class="log">
                        <a href="#" @click="loginFormVisible = true">登录</a>
                        <a href="#" @click="registerFormVisible = true">注册</a>
                    </div>
                </div>

            </el-menu>
        </div>
        <div class="carousel-wrap">
            <div class="carousel">
                <el-carousel type="card" height="336px">
                    <el-carousel-item v-for="item in carousel_items" :key="item">
                        <img class="carousel-img" v-bind:src="item.image_url" alt="" srcset="">
                    </el-carousel-item>
                </el-carousel>
            </div>
        </div>

        <div class="main-wrap">
            <div class="main">
                <div class="hot-playlist">
                    <div class="hot-title">
                        <h2><i class="el-icon-caret-right"></i> 热门歌单</h2>
                    </div>
                    <div class="hot-content">
                        <div class="playlist-item" v-for="item in hot_playlist">
                            <el-card body-style="padding:8px">
                                <img v-bind:src="item.img_url" class="playlist-item-img">
                                <div>
                                    <div class="item-title">{{fomatString(item.title,17)}}</div>
                                    <div>
                                        <div class="item-time">{{item.create_date}}</div>
                                        <!--<div class="btn-list">-->
                                            <!--<el-button size="small" icon="el-icon-caret-right" circle></el-button>-->
                                            <!--<el-button size="small" icon="el-icon-star-off" circle></el-button>-->
                                        <!--</div>-->

                                    </div>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
                <div class="hot-album">
                    <div class="hot-title">
                        <h2><i class="el-icon-caret-right"></i> 热门专辑</h2>
                    </div>
                    <div class="hot-content">
                        <div class="albumlist-item" v-for="item in hot_albumlist">
                            <el-card body-style="padding:8px;">
                                <img v-bind:src="item.img_url" class="albumlist-item-img">
                                <img class="album-after-img" src="../img/album.png" alt="">
                                <div albumlist-item-info>
                                    <div class="item-title">{{fomatString(item.title,10)}}</div>
                                    <div class="item-singer">{{fomatString(item.singer,10)}}</div>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside">
                <div class="hot-singer">
                    <h4><i class="el-icon-arrow-right"></i>歌手排行榜</h4>
                    <div class="hot-singer-content">
                        <div class="singer-item" v-for="singer in hot_singer">
                            <div class="singer-img">
                                <img v-bind:src="singer.image_url" style="width: 62px;height: 62px;" alt="">
                            </div>
                            <div class="singer-info-wrap">
                                <div class="singer-name">{{singer.name}}</div>
                                <div class="singer-info">{{fomatString(singer.info,16)}}</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hot-singer">
                    <h4><i class="el-icon-arrow-right"></i>歌手排行榜</h4>
                    <div class="hot-singer-content">
                        <div class="singer-item" v-for="singer in hot_singer">
                            <div class="singer-img">
                                <img v-bind:src="singer.image_url" style="width: 62px;height: 62px;" alt="">
                            </div>
                            <div class="singer-info-wrap">
                                <div class="singer-name">{{singer.name}}</div>
                                <div class="singer-info">{{fomatString(singer.info,16)}}</div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <div class="footer-link"> 加入我们 | 支持我们 | 客户服务 | 服务条款 | 网站导航 |意见反馈 </div>
            <div>©2018 带音乐平台</div>
        </div>
        <input type="text" placeholder="">
        <!--login Form -->
        <el-dialog title="登录" :visible.sync="loginFormVisible" width="320px" >
            <el-form :model="login_form">
                <el-form-item >
                    <el-input placeholder="账号" v-model="login_form.account" auto-complete="off" suffix-icon="el-icon-error"></el-input>
                </el-form-item>
                <el-form-item >
                    <el-input placeholder="密码" v-model="login_form.password" type="password" auto-complete="off" suffix-icon="el-icon-success
"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <div class="forget-password">
                    <a href="#">忘记密码？</a>
                </div>
                <el-button class="login-button" type="primary" @click="dialogFormVisible = false">登录</el-button>
                <div>
                    <a href="" class="to-register">注册</a>
                </div>
            </div>
        </el-dialog>
        <!--register Form -->
        <el-dialog title="注册" :visible.sync="registerFormVisible" width="360px" >
            <el-form :model="register_form">
                <el-form-item >
                    <el-input placeholder="账号" v-model="register_form.account" auto-complete="off" suffix-icon="el-icon-error"></el-input>
                </el-form-item>
                <el-form-item >
                    <el-input placeholder="密码" v-model="register_form.password" type="password" auto-complete="off" suffix-icon="el-icon-success
"></el-input>
                </el-form-item>
                <el-form-item >
                    <el-input placeholder="再输一次密码" v-model="register_form.password_repeat" type="password" auto-complete="off" suffix-icon="el-icon-success
"></el-input>
                </el-form-item>
                <el-form-item >
                    <el-input placeholder="验证码" v-model="register_form.verification_code" auto-complete="off" suffix-icon="el-icon-error"></el-input>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <div class="verification-code">
                    <a href="#">发送验证码</a>
                </div>
                <el-button class="register-button" type="primary" @click="registerFormVisible = false">注册</el-button>
                <div>
                    <a href="" class="to-login">登录</a>
                </div>
            </div>
        </el-dialog>




    </div>



    <script type="text/javascript" src="./index.js"></script>
</body>

</html>