<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>带音乐平台</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <div class="nav">
            <el-menu :default-active="menu_active_index" class="el-menu-demo" mode="horizontal" @select="handleSelect" text-color="#ffffff"
                background-color="#333" active-text-color="#ffffff">
                <div class="nav-content">
                    <div class="nav-logo">
                        <div>带音乐平台</div>
                    </div>

                    <el-menu-item index="1" class="nav-item">发现音乐</el-menu-item>
                    <el-menu-item index="2" class="nav-item">我的音乐</el-menu-item>
                    <el-menu-item index="3" class="nav-item" disabled>朋友</el-menu-item>
                    <el-menu-item index="4" class="nav-item" disabled>商城</el-menu-item>
                    <el-menu-item index="5" class="nav-item" disabled>音乐人 </el-menu-item>
                    <el-menu-item index="6" class="nav-item" disabled>下载客户端</el-menu-item>
                </div>

            </el-menu>
        </div>
        <div class="carousel-wrap">
            <div class="carousel">
                <el-carousel type="card" height="336px">
                    <el-carousel-item v-for="item in carousel_items" :key="item">
                        <img class="carousel-img" v-bind:src="item.image_url" alt="" srcset="">
                    </el-carousel-item>
                </el-carousel>
            </div>
        </div>

        <!--<div class="tab" >-->
            <!--<div class="tab-item" v-for="item in tab_list">{{item}}</div>-->
        <!--</div>-->
        <div class="main">
            <div class="section">
                <div class="hot-playlist">
                    <div class="hot-playlist-title">
                        <h2>热门歌单</h2>
                    </div>
                    <div class="hot-playlist-content">
                        <div class="playlist-item" v-for="item in hot_playlist">
                            <el-card body-style="padding:8px">
                                <img v-bind:src="item.img_url" class="playlist-item-img">
                                <div>
                                    <div class="item-title">{{item.title}}</div>
                                    <div>
                                        <div class="item-time">{{item.create_date}}</div>
                                        <!--<div class="btn-list">-->
                                            <!--<el-button size="small" icon="el-icon-caret-right" circle></el-button>-->
                                            <!--<el-button size="small" icon="el-icon-star-off" circle></el-button>-->
                                        <!--</div>-->

                                    </div>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside"></div>
        </div>

    </div>
    


    <script type="text/javascript" src="./index.js"></script>
</body>

</html>