<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="detail.css">
</head>
<body>
    <div id="app">
        <div class="main-wrap">
            <div class="main">
                <div class="section" v-if="isPlaylist">
                    <el-card body-style="padding:6px" class="playlist-img-wrap">
                        <img v-bind:src="playlist.img_url" class="playlist-img">
                    </el-card>
                    <div class="playlist-content">
                        <div class="playlist-title">
                            <img src="../img/playlistTag.png" style="width: 64px;height: 26px;" alt="">
                            <div>{{playlist.title}} </div>
                        </div>
                        <div class="playlist-author">
                            <img v-bind:src="playlist.author.img_url" alt="" class="playlist-author-img">
                            <div class="playlist-author-name">
                                {{playlist.author.name}}
                                <i style="color: #eb7504;font-weight: bold;" class="el-icon-star-off"></i>
                            </div>
                            <div class="playlist-time">{{playlist.create_date}} 创建</div>
                        </div>
                        <div class="playlist-btn-wrap">
                            <el-button type="primary" round icon="el-icon-caret-right">播放</el-button>
                            <el-button  round icon="el-icon-service">{{playlist.play_count}}</el-button>
                            <el-button  round icon="el-icon-star-off">{{playlist.collect_count}}</el-button>
                            <el-button  round icon="el-icon-download">{{playlist.download_count}}</el-button>
                        </div>
                        <div class="playlist-tag">
                            <div class="playlist-tag-title">
                                标签：
                            </div>
                            <a href="" class="playlist-tag-item" v-for="tag in playlist.tags">
                                {{tag}}
                            </a>
                        </div>
                        <div class="playlist-info">
                            <div class="playlist-info-title">
                                介绍：
                            </div>
                            <pre-wrap class="playlist-info-content">
                                {{playlist.introduction}}
                            </pre-wrap>
                        </div>
                    </div>
                </div>
                <div class="section" v-else>
                    <el-card body-style="padding:6px" class="playlist-img-wrap">
                        <img v-bind:src="album.img_url" class="playlist-img">
                    </el-card>
                    <div class="playlist-content">
                        <div class="playlist-title">
                            <img src="../img/albumTag.png" style="width: 64px;height: 26px;" alt="">
                            <div>{{album.title}} </div>
                        </div>
                        <div class="album-singer">
                            <div class="album-singer-name">
                                歌手：
                                {{album.singer.name}}
                            </div>
                            <div class="album-publish-time">
                                发行时间：{{album.publish_date}}
                            </div>
                            <div class="album-publish-company">
                                发行公司：{{album.publish_company}}
                            </div>
                        </div>

                        <div class="playlist-btn-wrap">
                            <el-button type="primary" round icon="el-icon-caret-right">播放</el-button>
                            <el-button  round icon="el-icon-service">{{album.play_count}}</el-button>
                            <el-button  round icon="el-icon-star-off">{{album.collect_count}}</el-button>
                            <el-button  round icon="el-icon-download">{{album.download_count}}</el-button>
                        </div>
                    </div>
                </div>
                <div class="album-introduction">
                    <div class="album-info-title">
                        专辑介绍：
                    </div>
                    <p class="album-info-content">
                        {{album.introduction}}
                    </p>
                </div>
                <div class="songs">
                    <div class="songs-title">
                        <h3>
                            <i class="el-icon-caret-bottom"></i>
                            歌曲列表
                            <span style="font-size: 12px;color: #666;font-weight: normal;margin-left: 20px">
                                {{songs.length}}首歌
                            </span>
                        </h3>
                    </div>
                    <el-table
                            :data="songs"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                width="40">
                        </el-table-column>
                        <el-table-column label="操作"
                        width="100">
                            <template slot-scope="scope">
                                <el-button icon="el-icon-caret-right" size="mini" style="color: #c20c0c;" circle></el-button>
                                <el-button icon="el-icon-plus" size="mini" style="color: #c20c0c;" circle></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="title"
                                label="歌曲名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="duration"
                                label="时长"
                                width="80">
                        </el-table-column>
                        <el-table-column
                                prop="album"
                                label="专辑"
                                width="160">
                        </el-table-column>
                        <el-table-column
                                prop="singer"
                                label="歌手">
                        </el-table-column>
                    </el-table>



                </div>
                <div class="comment">
                    <div class="songs-title">
                        <h3>
                            <i class="el-icon-caret-bottom"></i>
                            评论
                            <span style="font-size: 12px;color: #666;font-weight: normal;margin-left: 20px">
                                {{comments.length}}条评论
                            </span>
                        </h3>
                    </div>
                    <div class="comment-body">
                        <div class="comment-body-new">
                            <img class="comment-user-icon" src="http://s4.music.126.net/style/web2/img/default/default_avatar.jpg?param=50y50" alt="">
                            <div class="comment-input">
                                <el-input
                                        type="textarea"
                                        :autosize="{ minRows: 2, maxRows: 4}"
                                        placeholder="评论"
                                        v-model="comment_textarea"
                                        maxlength="120">
                                </el-input>
                                <div class="new-comment-btnlist">
                                    <div class="new-comment-flag">
                                        <i class="el-icon-location-outline" style="font-size: 16px"></i>
                                        <i class="el-icon-picture-outline" style="font-size: 16px"></i>
                                    </div>
                                    <div class="new-comment-btn">
                                        <span class="new-comment-len">
                                            {{comment_textarea.length}} / 120
                                        </span>
                                        <el-button size="mini" type="primary" round>评论</el-button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="comment-body-content">
                            <div class="comment-item" v-for="comment in comments">
                                <div class="comment-img">
                                    <img v-bind:src="comment.img_url" style="width: 50px;height: 50px;" alt="">
                                </div>
                                <div class="comment-info-wrap">
                                    <div class="comment-user-name">{{comment.user_name}}：</div>
                                    <div class="comment-content">{{comment.content}}</div>
                                    <div class="comment-info">
                                        <div class="comment-item-time">{{comment.create_date}}</div>
                                        <div class="comment-item-likes"><i class="el-icon-view"></i> {{comment.likes}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aside">
                <div class="aside-fan">
                    <div class="aside-title">
                        <h4><i class="el-icon-arrow-right"></i>同样喜欢这张专辑的人</h4>
                    </div>
                    <div class="fans">
                        <div class="fan-item" v-for="fan in fans">
                            <img v-bind:src="fan.img_url" alt="" style="height: 40px;width: 40px;">
                        </div>
                    </div>
                </div>
                <div class="aside-oha">
                    <div class="aside-title">
                        <h4><i class="el-icon-arrow-right"></i>Ta的其他热门专辑</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-link"> 加入我们 | 支持我们 | 客户服务 | 服务条款 | 网站导航 | 意见反馈 </div>
            <div>©2018 带音乐平台</div>
        </div>
    </div>

    <script type="text/javascript" src="detail.js"></script>
</body>
</html>