body{
    padding: 0;
    margin: 0;
}
#app{
    background-color: white;
}
.main{
    width: 730px;
    border: 1px solid #d3d3d3;
    border-top: none;
    padding: 30px 20px;

}
.aside{
    width: 205px;
    padding: 10px;
}
.main-wrap{
    display: flex;
    justify-content: center;
}
.section{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #000;
    text-decoration: underline;
}
/* ----------------------- playlist ---------------------- */

.playlist-time{
    font-size: 13px;
    color: #999;
}
.playlist-img-wrap{
    width: 212px;
    height: 212px;
    display: inline-block;
}
.playlist-content{
    display:inline-block;
    align-self: flex-start;
    flex: 1;
    padding: 0 20px;
}
.playlist-img{
    width: 200px;
    height: 200px;
}
.playlist-title{
    font-size: 20px;
    display: flex;
    align-items: center;

}
.playlist-author-img{
    width: 40px;
    height: 40px;
}
.playlist-author-name{
    font-size: 13px;
    padding: 0 40px 0 10px;
}
.playlist-author-name:hover{
    text-decoration: underline;
}
.playlist-author{
    display:flex;
    align-items: center;
    padding: 20px 0;
}
/* ----------------------- tag ---------------------- */
.playlist-tag{
    display:flex;
    align-items: center;
    padding: 20px 0;
}
.playlist-tag-item{
    padding: 2px 10px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    border-radius:13px;
    background-color: #f3f3f3;
    color:#777;
    text-decoration: none;
    margin: 0 2px;
}
.playlist-tag-item:hover{
    background-color:white;
}
.playlist-tag-title,.playlist-info-title,.playlist-info-content{
    font-size: 12px;
    color: #666;
}

/* ----------------------- songs ---------------------- */
.songs-title>h3{
    border-bottom: 2px solid #c20c0c;
    padding: 10px 0;
    margin-right: 20px;
}
/* ----------------------- comments ---------------------- */
.comment-user-icon{
    width: 50px;
    height: 50px;
}
.comment-body{

}
.comment-body-new{
    display: flex;
    padding-bottom: 20px;
}
.comment-input{
    margin: 0 20px;
    flex: 1;
}
.comment-input{
    display: flex;
    flex-direction: column;
}
.new-comment-btnlist{
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-comment-len{
    font-size: 13px;
    color: #999;
    padding: 0 5px;
}
.new-comment-btn{

}

.comment-item{
    display: flex;
    margin:0px 20px 0px 0;
    padding: 20px 20px 20px 0;
    border-top: 1px dashed #d3d3d3;
}

.comment-info-wrap{
    flex: 1;
    padding-left: 20px;
}
.comment-user-name{
    font-size: 14px;
    color: #c20c0c;

}
.comment-content{
    color: #333;
    font-size: 12px;
    padding: 5px 0 0 0;
}
.comment-item-time,.comment-item-likes{
    font-size: 12px;
    color: #999;
}
.comment-info{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
}
/* ----------------------- singer ---------------------- */
.footer{
    color: #999;
    margin:80px 250px 30px 250px ;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top: 1px solid #d3d3d3;
}

.footer-link{
    margin: 20px 0 10px 0;

}
/* ----------------------- album ---------------------- */
.album-singer-name,.album-publish-time,.album-publish-company{
    font-size: 13px;
    color: #999;
    padding: 20px 0 0 0;
}
.album-singer{
    padding-bottom: 20px;
}
.album-info-title{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px 0;

}
.album-info-content{
    font-size: 12px;
    color: #666;
    text-indent: 24px;
}
/* ----------------------- aside ---------------------- */
.aside-title{
    border-bottom: 1px solid #c20c0c;
}
.aside-title>h4{
    margin: 10px 0;
}
/*fan*/
.fans{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 80px 0 ;
}
.fan-item{
    padding: 5px;
}

/* ----------------------- nav ---------------------- */
.nav{
    width: 100%;
    height: 70px;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    width: 160px;
    display: flex;
    align-items: center;
}
.nav-logo>a{
    font-size: 24px;
    color: white;
}
.nav-logo>a:hover{
    text-decoration: none;
}
.nav-item{
    font-size: 14px;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box
}

.el-menu-item.is-active {
    border-bottom: 3px solid #c20c0c!important;
    background-color: rgb(41, 41, 41)!important;
}
.search{
    color: white!important;
    width: 200px;
    margin-left: 30px;
}
.search input{
    border-radius: 20px;

}
.search input:focus{
    border-color: transparent;

}
.log{
    margin: 0 10px 0 10px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
}
.log-or-register{

}
.log-or-register>a{
    color: #787878;
    text-decoration: none;
}
.log-or-register>a:hover{
    color: #666;
    text-decoration: underline;
}
/* ----------------------- login ---------------------- */
.user{
    display: flex;
    align-items: center;
    color: white;
}
.el-dialog__header{

}
.el-dialog__body{
    border-top:1px solid #c20c0c;
    padding: 30px 0 0 0;
    margin: 0 20px;
}
.login-button,.register-button{
    background-color: #bc070c;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
}
.login-button{
    width: 280px;
}
.register-button{
    width: 320px;
}
.to-register,.to-login{
    color: #c20c0c;
    text-decoration: none;

}
.to-register:hover,.to-login:hover{
    text-decoration: underline;
}
.dialog-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button:hover,.register-button:hover{
    background-color: #ec2a32;
    border: none;
}
.login-button:focus,.register-button:focus{
    background-color: #c20c0c;
    border-color: #c20c0c;
}
.el-form-item__content input:focus{
    border-color: #c20c0c;
}
.forget-password,.verification-code{
    align-self:flex-end ;
    margin-bottom: 20px;
    font-size: 14px;
}
.forget-password>a,.verification-code>a{
    color: #c20c0c;
    text-decoration: none;
}
.forget-password:hover,.verification-code:hover{
    text-decoration: underline;
}
