<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="./homePage.css">
</head>
<body>
    <div id="app">
        <div class="nav">
            <el-menu :default-active="menu_active_index" class="el-menu-demo" mode="horizontal" @select="" text-color="#ffffff"
                     background-color="#333" active-text-color="#ffffff">
                <div class="nav-content">
                    <div class="nav-logo">
                        <div>带音乐平台</div>
                    </div>
                    <el-menu-item index="1" class="nav-item">发现音乐</el-menu-item>
                    <el-menu-item index="2" class="nav-item">我的音乐</el-menu-item>
                    <el-menu-item index="3" class="nav-item" disabled>朋友</el-menu-item>
                    <el-menu-item index="4" class="nav-item" disabled>商城</el-menu-item>
                    <el-menu-item index="5" class="nav-item" disabled>音乐人 </el-menu-item>
                    <el-menu-item index="6" class="nav-item" disabled>下载客户端</el-menu-item>
                    <el-input class="search"
                              placeholder="搜索"
                              v-on:keyup.enter.native="search"
                              prefix-icon="el-icon-search"
                              v-model="search_wd"size="medium">
                    </el-input>
                    <div class="log">
                        <div class="user" v-if="user!=null">
                            <img v-bind:src="user.img_url" style="height: 30px;width: 30px;border-radius: 15px;margin-right: 10px" alt="icon" >
                            <el-dropdown @command="handleCommand">
                                <span class="el-dropdown-link" style="color: #ffffff;">
                                {{user.name}}<i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="homepage">我的主页</el-dropdown-item>
                                    <el-dropdown-item disabled>我的消息</el-dropdown-item>
                                    <el-dropdown-item disabled>个人设置</el-dropdown-item>
                                    <el-dropdown-item divided command="logout"><i class="el-icon-delete"></i> 登出 </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <div class="log-or-register" v-else>
                            <a href="#" @click="loginFormVisible = true">登录</a>
                            <a href="#" @click="registerFormVisible = true">注册</a>
                        </div>

                    </div>
                </div>
                <!--login Form -->
                <el-dialog title="登录" :visible.sync="loginFormVisible" width="320px" >
                    <el-form :model="login_form">
                        <el-form-item >
                            <el-input placeholder="账号" v-model="login_form.account" auto-complete="off" suffix-icon="el-icon-error"></el-input>
                        </el-form-item>
                        <el-form-item >
                            <el-input placeholder="密码" v-model="login_form.password" type="password" auto-complete="off" suffix-icon="el-icon-success
"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <div class="forget-password">
                            <a href="#">忘记密码？</a>
                        </div>
                        <el-button class="login-button" type="primary" @click="login">登录</el-button>
                        <div >
                            <a href="#" class="to-register" @click="toRegisterORLogin('Register')">注册</a>
                        </div>
                    </div>
                </el-dialog>
                <!--register Form -->
                <el-dialog title="注册" :visible.sync="registerFormVisible" width="360px" v-loading="true">
                    <el-form :model="register_form">
                        <el-form-item >
                            <el-input placeholder="账号" v-model="register_form.account" auto-complete="off" suffix-icon="el-icon-error"></el-input>
                        </el-form-item>
                        <el-form-item >
                            <el-input placeholder="密码" v-model="register_form.password" type="password" auto-complete="off" suffix-icon="el-icon-success
"></el-input>
                        </el-form-item>
                        <el-form-item >
                            <el-input placeholder="再输一次密码" v-model="register_form.password_repeat" type="password" auto-complete="off" suffix-icon="el-icon-success
"></el-input>
                        </el-form-item>
                        <el-form-item >
                            <el-input placeholder="验证码" v-model="register_form.verification_code" auto-complete="off" suffix-icon="el-icon-error"></el-input>
                        </el-form-item>

                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <div class="verification-code">
                            <a href="#">发送验证码</a>
                        </div>
                        <el-button class="register-button" type="primary" @click="register">注册</el-button>
                        <div>
                            <a href="#" class="to-login" @click="toRegisterORLogin('Login')">登录</a>
                        </div>
                    </div>
                </el-dialog>

            </el-menu>
        </div>
        <div class="main">
            <div class="user-wrap">
                <div class="u-img">
                    <img style="width: 188px;height: 188px;" v-bind:src="user.img_url" alt="" >
                </div>
                <div class="u-info">
                    <div class="u-name">
                        <div><i class="el-icon-caret-bottom"></i>  {{user.name}}</div>
                        <a href=""><i class="el-icon-setting"></i></a>
                    </div>
                    <div class="u-count">
                        <div class="u-c-likes">
                            <div class="u-c-value">{{user.likes_count}}</div>
                            <div class="u-c-key">喜欢</div>
                        </div>
                        <div class="u-c-listen">
                            <div class="u-c-value">{{user.listen_count}}</div>
                            <div class="u-c-key">听歌</div>
                        </div>
                        <div class="u-c-playlist">
                            <div class="u-c-value">{{user.playlist_count}}</div>
                            <div class="u-c-key">歌单</div>
                        </div>
                    </div>
                    <div class="u-location">
                        所在地区：{{user.location}}
                    </div>
                </div>
            </div>
            <div class="u-like-songs">
                <div class="songs-title">
                    <h3>
                        <i class="el-icon-caret-bottom"></i>
                        喜欢的歌曲
                        <span style="font-size: 12px;color: #666;font-weight: normal;margin-left: 20px">
                            {{songs_count}}首歌
                        </span>
                    </h3>
                </div>
                <div v-if="songs.length!=0">
                    <el-table
                            :data="songs"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                width="40">
                        </el-table-column>
                        <el-table-column label="操作"
                                         width="100">
                            <template slot-scope="scope">
                                <el-button icon="el-icon-caret-right" size="mini" style="color: #c20c0c;" circle></el-button>
                                <el-button icon="el-icon-plus" size="mini" style="color: #c20c0c;" circle></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="歌曲名"
                                width="180">
                            <template slot-scope="scope">
                                <a href="#">{{scope.row.title}}</a>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="duration"
                                label="时长"
                                width="80">
                        </el-table-column>
                        <el-table-column
                                label="专辑"
                                width="160">
                            <template slot-scope="scope">
                                <a href="#">{{scope.row.album}}</a>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="歌手">
                            <template slot-scope="scope">
                                <a href="#">{{scope.row.singer}}</a>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div v-else class="prompt">还没有喜欢的歌曲哦。去 <a style="color:#c20c0c" href="../index/index.html">首页</a> 看看</div>

            </div>
        </div>

    </div>


    <script type="text/javascript" src="./homePage.js"></script>
</body>
</html>