*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
html{

}
body{
	background-color: white;
}
#app{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.main_wrap{
	border: 1px solid #D8D6D6;/*#D8D6D6*/
	border-top: none;
}
.singer_info_bg{
	float: left;
    display: flex;

}
.singer_info{
	padding: 16px 30px 40px 39px;
	border-right: 1px solid #D8D6D6;


}
/*------aside(侧边栏)--------*/
.other_details{
	float: right;
	width: 200px;
	padding: 20px 40px 0px 30px;
}
.other_details .other_singers>h3{
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: lighter;
}
.other_singers_box{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;

}
.other_singers_info{
	width: 50px;
	/*height: 50px;*/
}
.other_singers_info{
	margin:5px 8px 8px;
}




.singer_info_name{
	font-weight:lighter;
	padding: 10px 0;
}
.singer_info_pic{
	display: block;
}
.tab{
	margin-top: 0px;
}
/*--------专辑信息------*/
.s-albumlist{
    display: flex;
    flex-wrap: wrap;
}
.album-item{
    height: 200px;
    width: 172px;
    margin: 20px 9px;

}
.album-an>a{
    font-size: 14px;
    color: black;
}
.album-sn>p{
	font-size: 12px;
    color: #C3C3C3;
}
/*------------歌手简介------------------------*/
.singer_introduction>i,.singer_ablum_content>i{
	border-left:3px solid red;
	padding-right: 5px;
}
.singer_introduction,.singer_ablum_content{
	font-size: 16px;
}
.singer_intorduction_content{
	line-height: 25px;
	text-indent: 2px;
	color: #666;
	font-size: 12px;
	padding-top: 5px;
}
.singer_ablum_content{
	margin-top: 20px;
	margin-bottom: 20px;
}
.ablumlist{
	margin-left: 15px;
}
.ablumlist>li{
	line-height: 25px;
	color: #666;
	font-size: 12px;
}

/*--------分页部分--------*/
.pagenation{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
/* ----------------------- footer ---------------------- */
.footer{
    color: #999;
    margin:80px 250px 30px 250px ;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top: 1px solid #d3d3d3;
}

.footer-link{
    margin: 20px 0 10px 0;

}
/* ----------------------- nav ---------------------- */
.nav{
    width: 100%;
    height: 70px;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    font-size: 24px;
    width: 160px;
    color: white;
    display: flex;
    align-items: center;
}
.nav-item{
    font-size: 14px;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box
}

.el-menu-item.is-active {
    border-bottom: 3px solid #c20c0c!important;
    background-color: rgb(41, 41, 41)!important;
}
.search{
    color: white!important;
    width: 200px!important;
    margin-left: 30px;
}
.search input{
    border-radius: 20px;

}
.search input:focus{
    border-color: transparent;

}
.log{
    margin: 0 10px 0 10px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
}
.log-or-register{

}
.log-or-register>a{
    color: #787878;
    text-decoration: none;
}
.log-or-register>a:hover{
    color: #666;
    text-decoration: underline;
}
/* ----------------------- login ---------------------- */
.user{
    display: flex;
    align-items: center;
    color: white;
}
.el-dialog__header{

}
.el-dialog__body{
    border-top:1px solid #c20c0c;
    padding: 30px 0 0 0;
    margin: 0 20px;
}
.login-button,.register-button{
    background-color: #bc070c;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
}
.login-button{
    width: 280px;
}
.register-button{
    width: 320px;
}
.to-register,.to-login{
    color: #c20c0c;
    text-decoration: none;

}
.to-register:hover,.to-login:hover{
    text-decoration: underline;
}
.dialog-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button:hover,.register-button:hover{
    background-color: #ec2a32;
    border: none;
}
.login-button:focus,.register-button:focus{
    background-color: #c20c0c;
    border-color: #c20c0c;
}
.el-form-item__content input:focus{
    border-color: #c20c0c;
}
.forget-password,.verification-code{
    align-self:flex-end ;
    margin-bottom: 20px;
    font-size: 14px;
}
.forget-password>a,.verification-code>a{
    color: #c20c0c;
    text-decoration: none;
}
.forget-password:hover,.verification-code:hover{
    text-decoration: underline;
}

