body{
    padding: 0;
    margin: 0;
}
#app{
    background-color: white;
}
.main{
    width: 730px;

}
.aside{
    width: 205px;
    padding: 10px;
}
.main-wrap{
    display: flex;
    justify-content: center;
}